<div ng-controller="paymentCtrl" class="payment">
    <div style="padding: 20px; background-color: white;">
    <h2 class="text-center font-bold pt-4 pb-5 mb-5"><strong>Tiến hành thanh toán</strong></h2>
    <!-- Stepper -->
    <div class="steps-form-2">
        <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
            <div class="steps-step-2" ng-click="events.step1.event()">
                <a href="" type="button" class="btn btn-amber btn-circle-2 waves-effect ml-0" data-toggle="tooltip" data-placement="top" title="Thông tin giao hàng" ><i class="fa fa-folder-open-o" aria-hidden="true" ng-style="{'color': step1.color}"></i></a>
            </div>
            <div class="steps-step-2" ng-click="events.step2.event()">
                <a href="" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Hình thức thanh toán" ><i class="fa fa-pencil" aria-hidden="true" ng-style="{'color': step2.color}"></i></a>
            </div>
            <div class="steps-step-2" ng-click="events.step3.event()">
                <a href="" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Các điều khoản và điểu kiện"><i class="fa fa-photo" aria-hidden="true" ng-style="{'color': step3.color}"></i></a>
            </div>
            <div class="steps-step-2" ng-click="events.step4.event()">
                <a href="" type="button" class="btn btn-blue-grey btn-circle-2 waves-effect mr-0" data-toggle="tooltip" data-placement="top" title="Finish"><i class="fa fa-check" aria-hidden="true" ng-style="{'color': step4.color}"></i></a>
            </div>
        </div>
    </div>
    
    <!-- First Step -->
    <form role="form" action="" method="post">
        <div class="row setup-content-2" id="step-1" ng-show="step1.show">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Thông tin giao hàng</strong></h3>
                <div style=" padding: 0px 30px 30px 30px">
                    <div class="form-group md-form">
                            <label for="yourUsername-2" data-error="wrong" data-success="right"><span style="color: red">*</span>Họ và tên</label>
                            <input id="yourUsername-2" type="text" required payment-name class="form-control validate" ng-model="step1.name">
                            <span style="color: red;font-style:italic;">{{step1.errorName}}</span>
                        </div>
                        <div class="form-group md-form">
                            <label for="yourPhone-2" data-error="wrong" data-success="right"><span style="color: red">*</span>Số điện thoại</label>
                            <input id="yourPhone-2" type="text" required payment-phone class="form-control validate" ng-model="step1.phone">
                            <span style="color: red;font-style:italic;">{{step1.errorPhone}}</span>
                        </div>
                        <div class="form-group md-form mt-3">
                            <label for="yourAddress-2" data-error="wrong" data-success="right"><span style="color: red">*</span>Địa chỉ nhận hàng</label>
                            <input id="yourAddress-2-2" type="text" required payment-address class="form-control validate" ng-model="step1.address">
                            <span style="color: red;font-style:italic;">{{step1.errorAddress}}</span>
                        </div>
                        <!-- <div class="form-group md-form mt-3">
                            <div class="row">
                                <div class="col-4">
                                    <label for="repeatCommune-2" data-error="wrong" data-success="right">Phường/ Xã</label>
                                    <input id="commune-2" type="" required="required" class="form-control validate">
                                </div>
                                <div class="col-4">
                                    <label for="repeatDistrict-2" data-error="wrong" data-success="right">Quận/ Huyện</label>
                                    <input id="district-2" type="" required="required" class="form-control validate">
                                </div>
                                <div class="col-4">
                                    <label for="repeatProvince-2" data-error="wrong" data-success="right">Tỉnh/ Thành phố</label>
                                    <input id="province-2" type="" required="required" class="form-control validate"> 
                                </div>
                            </div>
                        </div>  -->
                        <div class="form-group md-form mt-3">
                            <label for="yourAddress-2" data-error="wrong" data-success="right">Message</label>
                            <textarea id="yourAddress-2" type="text" rows="2" class="md-textarea form-control"></textarea ng-model="step1.message">
                        </div>
                        <button style="background-color: #20B2AA; width: 100px; color: white" class="btn btn-mdb-color btn-rounded nextBtn-2 float-right" type="button" ng-click="events.step1.next()">Next</button>
                </div>
              
            </div>
        </div>
    
    <!-- Second Step -->
        <div class="row setup-content-2" id="step-2" ng-show="step2.show">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Chọn phương thức thanh toán</strong></h3>
                <div style="padding: 0px 30px 30px 30px">
                    <form>
                        <div class="row">
                            <div class="col-3">
                                <input style="cursor: pointer;" type="radio" ng-click="step2.isClick(true)"  name="gender">Thanh toán khi nhận hàng
                            </div>
                            <div class="col-9">
                                <input style="cursor: pointer;" type="radio" ng-click="step2.isClick(false)"  name="gender">Thẻ tín dụng/ Thẻ ghi nợ
                            </div>
                             <span style="color: red; font-style:italic;">{{step2.errorAll}}</span>
                        </div>
                    </form>
                    <hr>

                    <div ng-switch="payment" style="min-height: calc(20vh);">
                        <div ng-show="step2.paymentOnDelivery.ischoose">Bạn có thể thanh toán bằng tiền mặt khi nhận hàng tại nhà</div>

                        <div ng-show="step2.paymentOnCredit.ischoose">
                            <div class="col-md-12">
                                <div class="form-group md-form">
                                    <label for="yourNumberCard-2" data-error="wrong" data-success="right"><span style="color: red">*</span>Số thẻ</label>
                                    <input id="yourNumberCard-2" type="text" required payment-creditnumber class="form-control validate" ng-model="step2.paymentOnCredit.number">
                                     <span style="color: red;font-style:italic;">{{step2.paymentOnCredit.errorNumber}}</span>
                                </div>
                                <div class="form-group md-form">
                                    <label for="yourNameCard-2" data-error="wrong" data-success="right"><span style="color: red">*</span>Tên trên thẻ</label>
                                    <input id="yourNameCard-2" type="text" required payment-creditname class="form-control validate" ng-model="step2.paymentOnCredit.name">
                                    <span style="color: red;font-style:italic;">{{step2.paymentOnCredit.errorName}}</span>
                                </div>
                                <div class="form-group md-form mt-3">
                                    <div class="row">
                                        <div class="col-4">
                                            <label for="yourDateLimit-2" data-error="wrong" data-success="right"><span style="color: red">*</span>Ngày hết hạn</label>
                                            <input id="yourDateLimit-2-2" type="text" required payment-creditexp class="form-control validate" ng-model="step2.paymentOnCredit.expires">
                                               <span style="color: red;font-style:italic;">{{step2.paymentOnCredit.errorExpires}}</span>
                                        </div>
                                        <div class="col-4">
                                            <label for="yourMaToken-2" data-error="wrong" data-success="right"><span style="color: red">*</span>CVV</label>
                                            <input id="yourMaToken-2-2" type="text" required payment-creditcvv class="form-control validate" ng-model="step2.paymentOnCredit.card_cerification_value">
                                               <span style="color: red;font-style:italic;">{{step2.paymentOnCredit.errCard_Cerification}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-mdb-color btn-rounded prevBtn-2 float-left" type="button" ng-click="events.step2.previous()">Previous</button>
                    <button style="background-color: #20B2AA; width: 100px; color: white" class="btn btn-mdb-color btn-rounded nextBtn-2 float-right" type="button" ng-click="events.step2.next()">Next</button>
                </div>
              
            </div>
        </div>
    
        <!-- Third Step -->
        <div class="row setup-content-2" id="step-3" ng-show="step3.show">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Terms and conditions</strong></h3>
                <div style="min-height: calc(20vh);">
                    <div class="form-check">
                        <input type="checkbox" id="checkbox111" class="form-check-input" ng-click="step3.elements.clickargee()">
                        <label for="checkbox111" class="form-check-label" >I agree to the terms and conditions</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="checkbox112" class="form-check-input" ng-checked="step3.elements.clicknewsl()">
                        <label for="checkbox112" class="form-check-label">I want to receive newsletter</label>
                    </div>
                     <span style="color: red;font-style:italic;">{{step3.elements.errorAgree}}</span>
                </div>
                <button class="btn btn-mdb-color btn-rounded prevBtn-2 float-left" type="button" ng-click="events.step3.previous()">Previous</button>
                <button style="background-color: #20B2AA; width: 100px; color: white" class="btn btn-mdb-color btn-rounded nextBtn-2 float-right" type="button" ng-click="events.step3.next()">Next</button>
            </div>
        </div>
    
        <!-- Fourth Step -->
        <div class="row setup-content-2" id="step-4" ng-show="step4.show">
            <div class="col-md-12">
                <h3 class="font-weight-bold pl-0 my-4"><strong>Finish</strong></h3>
                <h2 class="text-center font-weight-bold my-4">Payment completed!</h2>
                <button class="btn btn-mdb-color btn-rounded prevBtn-2 float-left" type="button" ng-click="events.step4.previous()">Previous</button>
                <button style="background-color: #20B2AA; width: 100px; color: white" class="btn btn-success btn-rounded float-right" type="submit" ng-click="events.step4.finish()">Submit</button>
            </div>
        </div>

    </form>

    </div>
</div>

<!--<script type="text/javascript" src="js/app/jquery-3.3.1.min.js"></script>-->
<script type="text/javascript" src="js/app/popper.min.js"></script>
<script type="text/javascript" src="js/app/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="js/app/mdb.min.js"></script>
<script type="text/javascript">
   	// Tooltips Initialization
       $(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})

		// Steppers
		$(document).ready(function () {
		  var navListItems = $('div.setup-panel-2 div a'),
		          allWells = $('.setup-content-2'),
		          allNextBtn = $('.nextBtn-2'),
		          allPrevBtn = $('.prevBtn-2');

		  allWells.hide();

		  navListItems.click(function (e) {
		      e.preventDefault();
		      var $target = $($(this).attr('href')),
		              $item = $(this);

		      if (!$item.hasClass('disabled')) {
		          navListItems.removeClass('btn-amber').addClass('btn-blue-grey');
		          $item.addClass('btn-amber');
		          allWells.hide();
		          $target.show();
		          $target.find('input:eq(0)').focus();
		      }
		  });

		  allPrevBtn.click(function(){
		      var curStep = $(this).closest(".setup-content-2"),
		          curStepBtn = curStep.attr("id"),
		          prevStepSteps = $('div.setup-panel-2 div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

		          prevStepSteps.removeAttr('disabled').trigger('click');
		  });

		  allNextBtn.click(function(){
		      var curStep = $(this).closest(".setup-content-2"),
		          curStepBtn = curStep.attr("id"),
		          nextStepSteps = $('div.setup-panel-2 div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
		          curInputs = curStep.find("input[type='text'],input[type='url']"),
		          isValid = true;

		      $(".form-group").removeClass("has-error");
		      for(var i=0; i< curInputs.length; i++){
		          if (!curInputs[i].validity.valid){
		              isValid = false;
		              $(curInputs[i]).closest(".form-group").addClass("has-error");
		          }
		      }

		      if (isValid)
		          nextStepSteps.removeAttr('disabled').trigger('click');
		  });

		  $('div.setup-panel-2 div a.btn-amber').trigger('click');

		});
</script> -->