<div ng-controller="productCatalogCtrl">
    <div class="listProduct">
        <div class="menuSearch">
            <div class="row">
                <div class="col-1"><p>Giá: </p></div>
                <div class="col-11  "><p>Chọn khoản giá: </p></div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-3" ng-repeat="product in listProduct" style="margin-top: 20px">
                <a ui-sref="productDetail({product_id: product._id})" style="text-decoration: none">
                    <div class="card" style="width: 18rem; padding-top: 10px">
                        <div style="width: 60%;height: 60%;margin-left: 20%;">
                            <img  style="width: auto;height: 12rem; border: none" class="card-img-top img-thumbnail" src="{{product.image_link}}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p style="color: #f36e36; font-size: 125%; margin-bottom: 0px;">{{product.price}} đ</p>
                            <p style="font-size: 75%; color: darkgray"><span style="text-decoration: line-through" >{{product.discountMoney}} đ</span> -{{product.discount}}%</p>
                            <a href="#" style="width: 100%; background-color: #f36e36;" class="btn btn-primary" ng-click="addToBracket(product.id)">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>