<div ng-controller="profileCtrl" class="profile">
         <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
    
            <div class="modal-body" style="padding: 0; text-align: center; padding-top: 15rem">
              <img ng-src="../img/loading.gif" style="width: 40px">
            </div>

        </div>
      </div>

      <div class="row">
      	<div class="col-3" style="padding: 10px; ">
            <div style="margin-right: 10px; padding-bottom: 30px; padding-top: 15px; padding-left: 10px; background-color: white;">
              <h5 style="color: #1a9cb7; font-size: 125%; padding-top: 0.25rem; padding-bottom: 0.5rem">Xin chào, {{username}}</h5>
              <hr>
              <form>
                 <input type="radio" ng-model="myVar" value="info" ng-click = "myChoose('info')"><span style="color: #757575; padding-left: 15px;">Thông tin cá nhân</span>
                 <hr>
                 <input type="radio"  ng-model="myVar" value="changeInfo" ng-click = "myChoose('changeInfo')"><span style="padding-top: 0.25rem; padding-bottom: 0.5rem;color: #757575; padding-left: 15px;">Chỉnh sửa thông tin cá nhân</span>
                 <hr>
                 <input type="radio" ng-model="myVar" value="changePass" ng-click = "myChoose('changePass')"><span style="color: #757575; padding-left: 15px;">Đổi mật khẩu</span>
                 <hr>
               </form>
            </div>
    
        </div>

        <div class="col-9" style="margin-top: 10px; padding: 30px; background-color: white;">
            <div ng-switch= "myVar">
                <div ng-switch-when= "info" >
                    <div class="row">
                      <div class="col-4">
                          <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Tên</h3>
                          <div style="color: #212121; padding-top: 7px; font-size: 14px">{{userInfo.name}}</div>
                          <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-top: 40px; margin-bottom: 10px">Số điện thoại</h3>
                          <div style="color: #212121; padding-top: 7px; font-size: 14px">{{userInfo.phone}}</div>
                      </div>
                      <div class="col-4">
                          <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Địa chỉ email</h3>
                          <div style="color: #212121; padding-top: 7px; font-size: 14px">{{userInfo.email}}</div>
                      </div>
                      <div class="col-4">
                        <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Địa chỉ của bạn</h3>
                        <div style="color: #212121; padding-top: 7px; font-size: 14px">{{userInfo.address}}</div>
                      </div>
                    </div>
                </div>

                 <div ng-switch-when= "changeInfo">
                    <div class="row">
                      <div class="col-4">
                          <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Tên</h3>
                          <input type="text" name="editname" ng-model="userInfo.name" style="width: 100%;color: #212121; padding: 10px; font-size: 14px" required change-name>
                           <span style="color: red;font-style: italic;">{{editnameerror}}</span>

                          <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-top: 40px; margin-bottom: 10px">Số điện thoại</h3>
                           <input type="text" name="editphone" ng-model="userInfo.phone" style="width: 100%;color: #212121; padding: 10px; font-size: 14px" required change-phone>
                             <span style="color: red;font-style: italic;">{{editphoneerror}}</span>
                      </div>
                      <div class="col-4">
                          <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Địa chỉ email</h3>
                           <input type="text" name="editemail" ng-model="userInfo.email" style="width: 100%;color: #212121; padding: 10px; font-size: 14px" required change-email>
                             <span style="color: red;font-style: italic;">{{editemailerror}}</span>
                              <span style="color: blue;font-style: italic;">{{editemailnotify}}</span>
                      </div>
                      <div class="col-4">
                        <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Địa chỉ của bạn</h3>
                        <input type="text" name="editaddress" ng-model="userInfo.address" style="width: 100%;color: #212121; padding: 10px; font-size: 14px" required change-address>
                        <span style="color: red;font-style: italic;">{{editaddresserror}}</span>
                      </div>
                    </div>
                    <div class="row" style="padding-top: 40px; float: right; margin-right: 5px">
                      <button type="button" class="btn btn-success" style="background-color: #f57224; width: 200px; height: 45px;" ng-click="updateInfo()">Lưu thay đổi</button>
                    </div>

                </div>

                <div ng-switch-when= "changePass" >

                    <h3 style="color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Mật khẩu cũ</h3>
                    <input type="password" name="changeoldpass" ng-model="userInfo.password.old" style="width: 40%;color: #212121; padding: 10px; font-size: 14px" placeholder="Mật khẩu cũ" ng-click="enterOldPass()">
                     <span style="color: red;font-style: italic;">{{editoldpassworderror}}</span>
                    <h3 style="padding-top: 20px;color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Mật khẩu mới</h3>
                    <input type="password" name="editnewpass" ng-model="userInfo.password.new" style="width: 40%;color: #212121; padding: 10px; font-size: 14px" placeholder="Mật khẩu mới" required editchange-pass>
                      <span style="color: red;font-style: italic;">{{editnewpassworderror}}</span>
                       <span style="color:{{epassCol}};font-style: italic;">{{editpasswordtype}}</span>

                    <h3 style="padding-top: 20px;color: #424242; font-size: 12px; font-weight: 400; margin-bottom: 10px">Nhập lại mật khẩu</h3>
                    <input type="password" name="editconfirmnewpass" ng-model="userInfo.password.confirm" style="width: 40%;color: #212121; padding: 10px; font-size: 14px" placeholder="Nhập lại mật khẩu" required editchange-repassword>
                     <span style="color: red;font-style: italic;">{{editconfirmpassworderror}}</span>

                    <div class="row" style="padding-top: 40px; float: right; margin-right: 5px">
                      <button type="button" class="btn btn-success" style="background-color: #f57224; width: 200px; height: 45px;" ng-click="updatePassword()">Lưu thay đổi</button>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
